/** General **/

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
body {
    font-family: 'Roboto', sans-serif;
    min-height: 100%;
}
button {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    font-size: 17px;
    line-height: 1.17648;
    font-weight: 400;
    min-width: 28px;
    padding: 8px 16px;
    border-radius: 18px;
    border-color: rgb(0, 113, 227);
    background: rgb(0, 113, 227);
    color: #ffffff;
}
.info {
    font-size: 17px;
    line-height: 1.47059;
    font-weight: 400;
    color: #06c;
}
.info:hover {
    text-decoration: underline;
}
/** Cabecera **/
.menu {
    margin: 0;
    padding: 0;
    height: 48px;
    background-color: rgba(0, 0, 0, 0.8)
}
.nav-links {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0 22px;
    margin: 0, 125px;
 }
.nav-links a {
    padding: 0 22px;
    display: inline-block;
    align-items: center;
    height: 44px;
    line-height: 44px;
    color: white;
    font-size: 15px;
    font-weight: 100;
    text-decoration: none;
}
.logo {
    height: auto;
    width: 36px;
    padding: 0 10px;
}
.logo-lupa {
    height: auto;
    width: 18px;
}
.logo-carro {
    height: auto;
    width: 17px;
}
/** Principal **/
.contenedor {
    max-width: 1200px;
    margin: 0 auto;
}
.financiacion {
    text-align: center;
    padding: 12px 0;
}
.macbookair {
    text-align: center;
    justify-content: center;
}
h1 {
    font-size: 80px;
}
.macbookair-img {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    width: 1380px;
    padding-top: 133px;
    padding-bottom: 86px;
}
.flex-container { 
    display: flex;
    justify-content: space-between;
    flex-basis: 100%;
    max-width: 100%;
    
    padding-left: 4.16%;
    padding-right: 4.16%;
    padding-top: 60px;
}
.card {
    margin: 0 1%;
    background-color: rgb(242, 242, 242);
    margin-bottom: 30px;
    margin-left: 1.04%;
    margin-right: 2.08%;
}
.card-text {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
}
.card h4 {
    font-size: 24px;
    line-height: 1.16667;
    font-weight: 600;
}
.card h2 {
    font-size: 48px;
    line-height: 1.08349;
    font-weight: 600;
    margin-top: 0;
}
.card p {
    margin-top: 20px;
    font-size: 17px;
    line-height: 1.47;
    font-weight: 400;
}
.accesorios {
    background-image: url("assets/apple-tools.jpg");
    background-size: 676px 282px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    padding-bottom: 276px;
}
.tradein {
    background-image: url("assets/laptop-cover.jpg");
    background-size: 422px 282px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    padding-bottom: 320px;
}
.entrega {
    text-decoration: none;
    max-width: 350px;
    line-height: 1.381;
    align-items: center;
}
h5 {
    font-size: 21px;
    line-height: 1.381;
    margin: 0;
    padding: 0;
}
.box {
    width: 40px;
    height: 44px;
}
/** Footer **/
footer {
    background-color: rgb(245, 245, 247);

}
.contenedor-footer {
    display: block;
    padding-top: 34px;
    padding-bottom: 21px;
    width: 980px;
}
.copyright {
    text-align: left;
}
.nav-footer a {
    text-decoration: none;
    border-right: 1px solid #d2d2d7;
    margin-right: 7px;
    padding-right: 10px;
    margin-top: 5px;
    color: #515154;

}
